<html>
    <head>
        <title>Vova's blog</title>
    </head>
    <body>

        <div Frog>
            <h1>Лягушка озерная</h1>
            <p><strong>Лягушка озерная</strong> ( Pelophylax ridibundus , синоним Rana ridibunda ) -<br>
               вид земноводных, входящих в подрода зеленых (водяных) лягушек<br>
               (Pelophylax Fitzinger), рода <strong>Зеленая лягушка</strong> (Pelophylax), семьи<br>
               <strong>Лягушачьи</strong> (Ranidae) ряда бесхвостых земноводных (Anura).</p>

                <p>В европейской части в озерной лягушки подвидов не выделяют.</p>

                <p>
                    Вид, как уже отмечалось, известный тем, что участвует в образовании<br>
                    гибридогенного комплексов (на территории Украины такой комплекс<br>
                    образован озерной, прудовой и съедобной лягушками). В этой группе<br>
                    озерная лягушка, скрещиваясь с P. lessonae, формирует отдельный<br>
                    таксон P. esculentus, существование которого, как правило,<br>
                    поддерживается путем гибридизации с одним из родительских видов,<br>
                    хотя известны популяции, представленные одним гибридогенного<br>
                    таксоном. При этом образование половых клеток у особей гибридного<br>
                    таксона связано с выборочным сохранением генома только озерной<br>
                    лягушки (неменделивське наследование). Вместе с тем в последнее<br>
                    время обнаружены популяции, специфика наследования в которых не<br>
                    соответствует этой схеме.
                </p>

            <ul>
                <h3><p>содержание</p></h3>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B0%D0%B1%D0%B0_%D0%BE%D0%B7%D0%B5%D1%80%D0%BD%D0%B0#%D0%9F%D0%BE%D1%88%D0%B8%D1%80%D0%B5%D0%BD%D0%BD%D1%8F" >	распространение</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B0%D0%B1%D0%B0_%D0%BE%D0%B7%D0%B5%D1%80%D0%BD%D0%B0#%D0%A7%D0%B8%D1%81%D0%B5%D0%BB%D1%8C%D0%BD%D1%96%D1%81%D1%82%D1%8C">численность</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B0%D0%B1%D0%B0_%D0%BE%D0%B7%D0%B5%D1%80%D0%BD%D0%B0#%D0%97%D0%BE%D0%B2%D0%BD%D1%96%D1%88%D0%BD%D1%96%D0%B9_%D0%B2%D0%B8%D0%B3%D0%BB%D1%8F%D0%B4">внешний вид</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B0%D0%B1%D0%B0_%D0%BE%D0%B7%D0%B5%D1%80%D0%BD%D0%B0#%D0%9C%D1%96%D0%BD%D0%BB%D0%B8%D0%B2%D1%96%D1%81%D1%82%D1%8C">изменчивость</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B0%D0%B1%D0%B0_%D0%BE%D0%B7%D0%B5%D1%80%D0%BD%D0%B0#%D0%93%D0%B5%D0%BD%D0%B5%D1%82%D0%B8%D0%BA%D0%B0">генетика</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B0%D0%B1%D0%B0_%D0%BE%D0%B7%D0%B5%D1%80%D0%BD%D0%B0#%D0%96%D0%B8%D1%82%D1%82%D1%8F_%D1%83_%D0%BF%D1%80%D0%B8%D1%80%D0%BE%D0%B4%D1%96">жизнь в природе</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B0%D0%B1%D0%B0_%D0%BE%D0%B7%D0%B5%D1%80%D0%BD%D0%B0#%D0%9E%D1%85%D0%BE%D1%80%D0%BE%D0%BD%D0%B0">охрана</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B0%D0%B1%D0%B0_%D0%BE%D0%B7%D0%B5%D1%80%D0%BD%D0%B0#%D0%9F%D0%BE%D1%81%D0%B8%D0%BB%D0%B0%D0%BD%D0%BD%D1%8F">ссылка</a></li>

            </ul>
        </div>

    </body>
</html>